APPM/script/__pycache__/*
APPM/predictresults/*/*
APPM/.ipynb_checkpoints/*
APPM/script/.ipynb_checkpoints/*
APPM/script/A0101/*
APPM/script/A0201/*
APPM/script/A0203/*
APPM/script/A3101/*
APPM/script/B4402/*
APPM/script/B4403/*
APPM/TCGA_db.csv.zip
APPM/TCGA_DM.csv.zip

HLAB/HLAB-v1-00/bin/__pycache__/*
HLAB/HLAB-code-20211227/bin/__pycache__/*
HLAB/HLAB-code-20211227/rnnmodels/*
HLAB/HLAB-code-20211227/.idea/*
HLAB/HLAB-code-20211227/__pycache__/*

BERTMHC/bertmhc/.ipynb_checkpoints/*
BERTMHC/bertmhc/__pycache__/*
BERTMHC/bertmhc/model.pt
BERTMHC/tests/data/btab422_supplementary_data/.ipynb_checkpoints/*
BERTMHC/.DS_Store

HLAB/HLAB-code-20211227.tar.gz
HLAB/HLAB-v1-00.tar.gz
HLAB/HLAB-code-20211227/results/*

dataset/netMHCpan4.1/gkaa379_supplemental_files.zip

BERTMHC/bertmhc/bertmhc_model.pt
BERTMHC/bertmhc/bertmhc_model_optim.pt
BERTMHC/bertmhc/*.pt

ImmunoBERT/pMHC/__pycache__/*
ImmunoBERT/pMHC/data/__pycache__/*
ImmunoBERT/pMHC/interpret/__pycache__/*
ImmunoBERT/pMHC/logic/__pycache__/*

models/*


